{% extends "base.html" %}

{% block content %}
  <h2>Список видео</h2>

  {% if videos %}
    <ul>
      {% for video in videos %}
        <li>
          {% if video.video_cover_file %}
            <img src="{{ video.video_cover_file.url }}" alt="{{ video.title }}" width="500" height="300">
          {% endif %}
          <h3>{{ video.title }}</h3>
          <p>{{ video.description }}</p>
          <p>Загрузка: {{ video.uploaded_at }}</p>
          <p>Канал: {{ video.channel.name }}</p>
          <a href="{% url 'videos:video_detail' video.pk %}">Подробнее</a>
        </li>
      {% endfor %}
    </ul>

    <!-- Пагинация -->
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Первая</a>
          <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
          Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
      </span>
    </div>

  {% else %}
    <p>Видео не найдены.</p>
  {% endif %}
{% endblock %}
