{% extends "base.html" %}

{% block content %}
  <video width="800" height="450" controls>
    <source src="{% url 'videos:video_stream' video.pk %}" type="video/mp4">
    Ваш браузер не поддерживает тег video.
  </video>
  <h2>{{ video.title }}</h2>
  <p>{{ video.description }}</p>

  <form method="post" action="{% url 'videos:like_dislike' video.id %}">
    {% csrf_token %}
      <button type="submit" name="action" value="like">❤️ Лайк {{ likes_count }}</button>
      <button type="submit" name="action" value="dislike">👎 Дизлайк {{ dislikes_count }}</button>
  </form>
  <p>Загружено: {{ video.uploaded_at }}</p>
  <p><a href="{% url 'users:channel' video.channel.username %}">{{ video.channel.name }}</a></p>
  <a href="{% url 'videos:video_list' %}">Вернуться к списку видео</a>
{% endblock %}