{% extends 'base.html' %}

{% block content %}
    <h2>Регистрация</h2>
    {% if form.errors %}
        <ul>
          {% for field in form %}
            {% for error in field.errors %} <li>{{ error }}</li> {% endfor %}
          {% endfor %}
        </ul>
        <ul>
          {% for error in form.non_field_errors %} <li>{{ error }}</li> {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="{% url 'users:signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr><td>Логин</td><td>{{ form.username }}</td></tr>
            <tr><td>Отображаемое имя</td><td>{{ form.name }}</td></tr>
            <tr><td>Фото профиля</td><td>{{ form.icon }}</td></tr>
            <tr><td>Описание канала</td><td>{{ form.description }}</td></tr>
            <tr><td>Почта</td><td>{{ form.email }}</td></tr>
            <tr><td>Пароль</td><td>{{ form.password1 }}</td></tr>
            <tr><td>Подтверждение пароля</td><td>{{ form.password2 }}</td></tr>
        </table>
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}
